/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-icn-add-blue {
  background-image: url(../images/icon-sprite.png);
  background-position: -62px 0px;
  width: 44px;
  height: 44px;
}
.icon-icn-add:active {
  background-image: url(../images/icon-sprite.png);
  background-position: 0px -108px;
  width: 44px;
  height: 44px;
}
.icon-icn-add[disabled] {
  background-image: url(../images/icon-sprite.png);
  background-position: 0px -62px;
  width: 44px;
  height: 44px;
}
.icon-icn-add {
  background-image: url(../images/icon-sprite.png);
  background-position: -46px -62px;
  width: 44px;
  height: 44px;
}
.icon-icn-more:active {
  background-image: url(../images/icon-sprite.png);
  background-position: 0px -154px;
  width: 44px;
  height: 30px;
}
.icon-icn-more {
  background-image: url(../images/icon-sprite.png);
  background-position: -154px -92px;
  width: 44px;
  height: 30px;
}
.icon-icn-print:active {
  background-image: url(../images/icon-sprite.png);
  background-position: -154px -46px;
  width: 44px;
  height: 44px;
}
.icon-icn-print[disabled] {
  background-image: url(../images/icon-sprite.png);
  background-position: -46px -108px;
  width: 44px;
  height: 44px;
}
.icon-icn-print {
  background-image: url(../images/icon-sprite.png);
  background-position: -92px -108px;
  width: 44px;
  height: 44px;
}
.icon-icn-sign:active {
  background-image: url(../images/icon-sprite.png);
  background-position: -154px 0px;
  width: 44px;
  height: 44px;
}
.icon-icn-sign[disabled] {
  background-image: url(../images/icon-sprite.png);
  background-position: -108px -46px;
  width: 44px;
  height: 44px;
}
.icon-icn-sign {
  background-image: url(../images/icon-sprite.png);
  background-position: -108px 0px;
  width: 44px;
  height: 44px;
}
.icon-icn-signor {
  background-image: url(../images/icon-sprite.png);
  background-position: 0px 0px;
  width: 60px;
  height: 60px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-icn-add-blue {
    background-image: url(../images/icon-sprite@2x.png);
    background-size: 198px 184px;
  }
  .icon-icn-add:active {
    background-image: url(../images/icon-sprite@2x.png);
    background-size: 198px 184px;
  }
  .icon-icn-add[disabled] {
    background-image: url(../images/icon-sprite@2x.png);
    background-size: 198px 184px;
  }
  .icon-icn-add {
    background-image: url(../images/icon-sprite@2x.png);
    background-size: 198px 184px;
  }
  .icon-icn-more:active {
    background-image: url(../images/icon-sprite@2x.png);
    background-size: 198px 184px;
  }
  .icon-icn-more {
    background-image: url(../images/icon-sprite@2x.png);
    background-size: 198px 184px;
  }
  .icon-icn-print:active {
    background-image: url(../images/icon-sprite@2x.png);
    background-size: 198px 184px;
  }
  .icon-icn-print[disabled] {
    background-image: url(../images/icon-sprite@2x.png);
    background-size: 198px 184px;
  }
  .icon-icn-print {
    background-image: url(../images/icon-sprite@2x.png);
    background-size: 198px 184px;
  }
  .icon-icn-sign:active {
    background-image: url(../images/icon-sprite@2x.png);
    background-size: 198px 184px;
  }
  .icon-icn-sign[disabled] {
    background-image: url(../images/icon-sprite@2x.png);
    background-size: 198px 184px;
  }
  .icon-icn-sign {
    background-image: url(../images/icon-sprite@2x.png);
    background-size: 198px 184px;
  }
  .icon-icn-signor {
    background-image: url(../images/icon-sprite@2x.png);
    background-size: 198px 184px;
  }
}
