html, body {
    background: #f3f6f8;
    -webkit-user-select: none;          /* disable text seleting */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

#doclist {
    padding-top: 5px;
    padding-bottom: 84px;           /* to display margin at the bottom which partially covered by the bottom bar */
}

.doclist-header {
    margin: 30px 15px 0 15px;
    min-height: 34px;
    border-bottom: solid 1px #dee6ea;
    box-shadow: 0 1px 0 #f2f6f7;
    font-weight: bold;
}

.doclist-container {
    margin-left: -5px;
}

.doclist-bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    background: #3f3f40;
    left: 0;
}

.document {
    position: relative;
    background: #fff;
    border: solid 1px #dee6ea;
    border-radius: 3px;
    width: 180px;
    height: 185px;
    margin-top: 15px;
    margin-left: 20px;
    overflow: hidden;
    cursor: pointer;
}


/* document sign status badge */
.status-badge {
    position: absolute;
    display: block;
    width: 106px;
    height: 106px;
    text-align: center;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    left: -75px;
}

.status-badge.signed {
    background: #2cab56;
}

.status-badge.not-signed {
    background: #D3DAE0;
}

.status-badge.partially-signed {
    background: #fccf12;
}

.status-badge.submitted {
    background: #3f3f40;
}

.status-badge .status {
    position: absolute;
    width: 100%;
    padding: 0 20px 4px;
    line-height: 14px;
    font-size: 12px;
    left: 0;
    bottom: 0;
    color: #fff;
}


/* document body */
.doc-body {
    padding: 30px 15px;
}

.doc-body .doc-title {
    margin-top: 30px;
    margin-bottom: 2px;
    font-size: 13px;
    line-height: 15px;
    color: #2e95d2;
}

.doc-body .doc-placeholder-title {
    margin-top: 12px;
    margin-bottom: 2px;
    font-size: 13px;
    color: #231f20;
    line-height: 15px;
}

.doc-body .doc-applicant-name {
    font-size :13px;
    color: #a1a1a1;
}

/* bottom bar */
.doclist-bottom-bar {
    padding: 10px;
    z-index: 1000;
}

.doclist-bottom-bar .btn {
    height: 44px;
    padding: 10px 22px;
    margin-right: 10px;
}

.doclist-bottom-bar .btn:disabled {
    background: #737373;
    border-color: #737373;
}

.doclist-bottom-bar .btn span.glyphicon {
    margin-right: 10px;
}

/* signstatus popover */

.signstatus-popover {           /* position hack for popover */
    margin-left: 170px;
    margin-top: 150px !important;
}

.signstatus-popover-mask {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.signstatus-popover .popover-title {
    text-align: center;
    background: #fff;
}

.signstatus-popover .popover-content {
    padding: 0;
}

.signstatus-signed {
    color: #3FB265;
}

.signstatus-notsigned {
    color: #FFB200;
}

.signstatus-row {
    min-width: 328px;
    white-space: nowrap;
    padding: 6px 14px;
    border-bottom: solid 1px #EBEBEB;
}

.signstatus-row:last-child {
    border-bottom: none;
}

/* overwrite bootstrap popover setup */
.popover {
    max-width: 400px !important;
}

/* modal dialog fix */
.modal.center {
    top: 20%;
}

.modal-header .modal-title {
    text-align: center;
    font-weight: bold;
}

/* signer selection modal */

.signer-modal-body {
    padding: 35px 35px 35px 28px;
}

.signers-list {
    margin: 0 -35px 35px 0 !important;
}

.signers-list>li {
    display: inline-block;
}

.signer {
    display: block;
    background: #fff url(../images/avatar.png) no-repeat center 48px;
    width: 143px;
    height: 191px;
    border-radius: 2px;
    border: solid 1px #DEE6E9;
    margin-right: 20px;
}

.signer-caption {
    text-align: center;
    margin-top: 129px;
}

.signer-name {
    font-weight: bold;
}

.signer-selected-wrapper {
    position: relative;
}

.signer-badge {
}

/* add document modal */
.add-document-body {
    padding: 35px 35px 20px;
}

.add-document-body .doc-type-selector {
    height: 45px;
    width: 430px;       /* enlarge selector */
    background: #fff;
    text-align: left;
    color: #231f20;
    padding: 6px 20px;
    margin-bottom: 15px;
    border: solid 1px #dee6ea;
    border-radius: 3px;
}

.add-document-body .doc-type-selector:active {
    background: #fff;
}

.add-document-body .doc-type-selector[disabled] {
    color: #c7cfd3;
}

.add-document-body .doc-type-selector .caret {
    margin-top: 10px;
    float: right;
}

.add-document-body .dropdown-menu {     /* options menu */
    width: 430px;
    border-radius: 0 0 3px 3px;
    padding: 0;
    margin-top: -1px;
}

.add-document-body .dropdown-menu>li>a {
    height: 45px;
    color: #231f20;
    padding-top: 12px;
    padding-left: 40px;                 /* leave space for checkmark */
    border-bottom: solid 1px #dee6ea;
}

.add-document-body .dropdown-menu>li.active>a {
    color: #231f20;                     /* remove default active color */
    background: #fff;
}

/* document preview */

#docpreview {
    margin: 0 !important;
    padding: 0 !important;
}

.docpreview-container {
    margin: 10px;
    background: #fff;
    border-radius: 3px;
    border: solid 1px #e6e6e6;
}

.docpreview-titlebar {
    height: 48px;
    width: 100%;
    border-bottom: solid 1px #e6e6e6;
    padding: 14px 22px;
    text-align: center;
}

.docpreview-content {
    padding: 14px 22px;
    text-align: center;
}

/**
 * Common dialog
 */
.common-dialog .modal-content {
    background: #F2F6F9;            /* make the modal body grey */
    border-radius: 3px;             /* reduce border radius to fit the design */
}

.common-dialog .modal-header {
    background: #fff;               /* overlay the dialog title back to white */
    height: 45px;
    padding: 12px;
    border-radius: 3px 3px 0 0;     /* cut round corners (otherwise white header will show sharp right angle over grey body */
}

.common-dialog .modal-header .modal-title {
    color: #231f20;
    font-size: 14px;
    font-weight: 500;
}

.common-dialog .modal-body {
    padding: 0;                     /* clear the padding; leave the margin/padding to content template of $commonDialog */
}

/* buttons */
.common-dialog .modal-header .btn-link {
    margin: 0 !important;
    padding: 0 10px !important;     /* adjust position of the butons */
    color: #2e95d2;
    font-size: 14px;
}

.common-dialog .modal-header .btn-link:hover {
    text-decoration: none;
}

.common-dialog .modal-header .btn-link[disabled] {
    color: #c7cfd3 !important;
}


/**
 * $msgbox styles
 */

.msgbox-modal-dialog {
    width: 320px;
}

.msgbox-modal-dialog .modal-header {
    border-bottom: 0;
}

.msgbox-modal-dialog .modal-body {
    padding: 15px 45px;
}

.msgbox-modal-dialog .modal-body ul {
    list-style-type: disc;
}

.msgbox-modal-dialog .modal-body li {
    margin-left: 30px;
}


.btn-msgbox-buttons {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    border-top: solid 1px #e5e5e5;
}

.btn-msgbox {
    border: 0;
    background: transparent;
    height: 44px;
    width: 100%;
    border-right: solid 1px #e5e5e5;
    color: #007aff;
    font-size: 17px;
    border-radius: 0 !important;
}

.btn-msgbox-buttons:last-child {
    border-right: 0;
}

.btn-msgbox.btn-msgbox-ok {
    font-weight: bold;
}

/**
 * icon button
 */
.icon-button {
    width: 44px;
    height: 44px;
    border: 0;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -1000px;
}

.icon-button:hover {
    background-position: -44px 0;
}

.icon-button:active {
    background-position: -88px 0;
}
