/**
 * style definition for styling on the device to make it look like a native app
 * mainly some "tricks" for disabling the html features
 */

html, body {
    background: #f3f6f8;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px !important;
    -webkit-user-select: none;          /* disable text seleting */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:focus {
    outline: none;          /* remove the blue outline box on active button in chrome */
}


