<div class="document" ng-click="doc.isPlaceholder ? addDoc(doc) : showPreview(doc)">
    <signer-popover ng-if="doc.signable && doc.requiredSigners.length > 0" class="status-badge {{doc.status}}" id="signing-status-for-{{doc.id}}" ng-click="$event.stopPropagation()">
        <div class="status">
            {{doc.statusLabel}}
        </div>
    </signer-popover>

    <button icon-button="icn-checkbox" width="30" height="30" class="doc-selector" ng-checked="doc.selected"  ng-if="!doc.isPlaceholder" ng-click="onDocSelected(doc.id);$event.stopPropagation()"></button>

    <div class="doc-body" id="doc-body-{{doc.id}}">
        <div class="doc-title-block">
            <p class="text-center doc-title" ng-if="!doc.isPlaceholder">{{doc.templateName}}</p>
            <p class="text-center doc-placeholder-title" ng-if="doc.isPlaceholder">{{doc.templateName}}</p>
            <p class="text-center doc-applicant-name" ng-if="doc.scanApplicant">{{doc.scanApplicant | signerTypeName }}</p>
        </div>
        <button class="doc-btn-add" icon-button="icn-add-blue" ng-if="doc.isPlaceholder" ng-click="addDoc(doc);$event.stopPropagation()">Add</button>
    </div>

    <more-popover class="doc-btn-more" ng-hide="doc.isContract" ng-click="$event.stopPropagation()">
        <button icon-button="icn-more" height="30">More</button>
    </more-popover>

</div>

