<div class="signer-modal-body">
    <ul class="row signers-list" ng-class="'room-for-'+signers.length">
        <li ng-repeat="signerType in signers" class="modal-body-wrapper signers-list-item signer-{{signer.Type.toLowerCase()}}">
            <div class="signer">
                <button icon-button="icn-checkbox" class="signer-selector" width="30" height="30" ng-checked="signerService[signerType].selected" ng-show="docService.isSignerRequiredBySelectedDocs(signerType)" ng-click="onSignerSelected(signerType)"></button>
                <div class="signer-caption">
                    <div class="signer-name">{{signerService[signerType].name}}</div>
                    <div class="signer-type">{{signerService[signerType].type | signerTypeName}}</div>
                </div>
            </div>
        </li>
    </ul>
</div> 
