.header {
    width: 100%;
    height: 5%;
}

.container {
    min-height: 100%;
    vertical-align: middle;
}

body {
    background-color: #eee;
}

.doc-icon {
    width: 104px;
    height: 134px;
    margin-top: -36px !important;
    position: relative;
    z-index: 1;
}

.doc-icon-wrapper {
    position: relative;
    z-index: 1;
}

.document {
    border-radius: 5px;
    width: 160px;
    vertical-align: top;
    height: 220px;
    min-height: 180px;
    border: 1px solid #DCDBE0;
    background-color: #fff;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.doc-title {
    text-align: center;
    position: relative;
    font-family: 'Helvetica Neue', 'Helvetica','Arial', 'sans-serif';
    font-size: 13px;
    margin-top: 10px;
    overflow: hidden;
    min-height: 30px;
}


.status-badge {
    width: 0;
    height: 0;
    float: left;
    margin-top: -10px;
    margin-left: -10px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.doc-title-wrapper {
    height: 55px;
    width: 140px;
    overflow: hidden;
}

#id_start {
    font-size: 16px;
} 


.green {
    border-top: 80px solid #45AC1C;
    border-right: 80px solid transparent;
}

.gray {
    border-top: 80px solid #cccccc;
    border-right: 80px solid transparent;
}

.yellow {
    border-top: 80px solid #EBC653;
    border-right: 80px solid transparent;
}
.status {
    text-align: center;
    font-family: "Arial";
    font-size: 10px;
    font-weight: bold;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
    color: #fff;
    width: 50px;
    text-align: center;
    margin: -7px 0px 0px -12px;
}


.signed {
    top: -50px;
    left: 15px;
}

.not-signed {
    top: -60px;
    left: 13px;
    line-height: 12px;
}

.partially-signed {
    top: -55px;
    left: 13px;
    line-height: 12px;
}

.fa-file-pdf-o {
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    color: #aaa;
}

.cancel-link, .continue-link {
    color: #1DBBD8;
}

.cancel-link {
    color: #1DBBD8;
}

.continue-link {
    color: #1DBBD8;
}

.cancel-link, .continue-link, .modal-title {
    display: inline;
}

.UserThumbnail {
    display: block;
    width: 100%;
}

.UserThumbnail > div {
    margin: 20px;
    width: 135px;
    height: 175px;
    float: left;
    color: #fff;
    text-align: center;
}

.thumbnail_caption p {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    color: #999;
    font-size: 12px;
}

.thumbnail_caption {
    padding: 0px !important;
    margin: 0px;
    margin-top: 5px;
}

.thumbnail img {
    height: 100px;
}

#bs-example-modal-sm {
    margin-top: auto;
    margin-bottom: auto;
}

.modal-text {
    font-family: 'Helvetica Neue', 'Helvetica','Arial', 'sans-serif';
    color: #999;
}

.signer {
    width: 100px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.signer-thumbnail {
    margin-bottom: 0px !important;
    padding-bottom: 20px;
    width: 100px;
    height: 115px;
}

.checkbox-signer {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.modal-header-wrapper {
    text-align: center;
    padding-bottom: 10px;
}

.modal-body-wrapper {
    text-align: center;
}

.signer-modal-content {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

.signIn-modal-content {
    width: 240px;
    height: 215px;
    margin-left: auto;
    margin-right: auto;
}

.signIn-thumbnail {
    border: none;
    margin: 0px;
    height: 80px;
}

.user-icon {
    color: #3CB9E5;
}

.signer-modal-body {
    background-color: #eee;
}

.btn-color {
    background-color: #3CB9E5;
    border-color: #3CB9E5;
    color: #fff;
}

.btn-sign {
    padding-top: 10px;
}

#id_select_signer_modal,#id_signIn_modal {
    top: 30%;
}

#id_signature_modal,#id_signature_initials_modal {
    top: 30%;
}

.checkbox-doclist {
    float: right;
    margin-right: -5px;
    margin-top: -15px;
    display: none;
    z-index: 99;
}


/*** Terms and Conditions ***/
#id_terms_and_conditions {
    top: 20%;
}

.tnc-modal-header {
    background-color: #eee;
    padding-bottom: 0px;
}

.tnc-modal-body {
    max-height: 330px;
    overflow-y: scroll;
}

.tnc-body-wrapper p {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 12px;
}


.tnc-wrapper {
    background: white;
    padding: 0px;
}

.tnc-wrapper p  {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 12px;
}

.tnc-wrapper ul li {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 12px;
}

.tnc-wrapper b {
    color:#666;
}







/****************************************** popover content css ************************************************************************************************/
.popover-content {
    margin: 0px;
    padding: 0px;
}

.popover {
    z-index: 9999;
    border: none;
    margin-left: 7%;
 /* mp */
    position: fixed !important;
 /* mp */
    /*top: 36.4px !important;  mp */;
}

.popover-content ul {
    margin: 0;
    padding: 0;
    width: 230px;
    list-style-type: none;
}



.popover-content ul li a {
    text-decoration: none;
    padding: 12px;
    color: #000 !important;
    display: block;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 16px;
    height:50px;
    border-bottom: 1px solid #CCCCCC;
    width: 200px;
}


.popover-content ul li:last-child a {
    border-bottom: 0px solid #CCCCCC;
 /* mp */;
}

.signed-status-style {
    font-weight: bold;
    /*color: #F7BB06;*/
    color: #fff;
/* mp */
    width: 28%;
 /* mp */
    height: 16px;
 /* mp */
    font-size: 11px;
/* mp */;
}
/***************************************************************************************************************************************************************/

/******************************* NavBar *****************************************************************************************************************/

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    color: #999;
    font-size: 14px;
}

.navbar-style {
    color: #1DBBD8 !important;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 14px;
    margin-left: -25px;
}

.navbar-collapse.collapse {
/*display: block!important;
*/
    ;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}



.navbar-footer-style {
    /*z-index: 9997;*/
    height: 60px;
}


.navbar-header-style {
    z-index: 9999;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

.back-icon-style {
    color: #1DBBD8 !important;
}

.print-navbar.disabled {
    color: #999 !important;
}

.print-navbar {
    color: #1DBBD8 !important;
}

.left-sign-style {
    color: #1DBBD8 !important;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 14px;
}

.left-sign-style.disabled {
    color: #999 !important;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 14px;
}

.ellipsis-style {
    color: #FBFBFB !important;
    margin-left: 30px;
    padding-top: 5px;
    font-weight: 400;
    width: 100px;
    display: inline-block;
    text-transform: uppercase;
}

.navbar-right-link {
    margin-right: 30px;
}

/*.footer_link_container {
    padding-top: 8px;
}*/

.footer_link_container {
    padding-top: 14px;
}



.dtc_user {
    color: #999999 !important;
    font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 80px;
}

/***************************************************************************************************************************************************************/

/************************** Signature modal pop-up ************************************************************************************/
.signature-modal-content {
    height: 300px;
}

.signature-container {
    min-width: 300px;
    display: inline-block;
    margin-left: 20px;
}

.initials-container {
    width: 180px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
}

.signature-canvas-style {
    width: 100%;
    border: 1px solid #DEDEE0;
    background: #fff;
    height: 120px;
    display: block;
}

.signature-apply-btn {
    margin-right: 50px;
    background-color: #1DBBD8 !important;
    border-color: #1DBBD8 !important;
    margin-top: 25px;
    margin-bottom: 25px;
}

.canvas-container {
    min-width: 555px;
}

.signature-modal-body {
    margin-top: 40px;
}

.signature-modal-style {
    background-color: #eee;
    border: none;
}

.canvas-header {
    color: #999;
    font-size: 12px;
    padding-bottom: 5px;
}

.canvas-clear {
    color: #037afd;
    font-size: 12px;
    padding-bottom: 5px;
}

.signature-user-header {
    font-weight: bold;
    font-size: 15px;
    color: #646466;
}
/***************************************************************************************************************************************************************/


/*******Left overlay sliding panel********************************************************************************************************************************************************/
.slide-out-div {
    padding: 10px;
    width: 130px;
    height: 100%;
    background: #676767;
    border: 1px solid #29216d;
    z-index: 9998;
    position: fixed !important;
}

.handle {
    border-left: 1px groove #888;
    width: 30px;
    height: 100%;
}

.panel-handle-bar {
    width: 10px;
    height: 60px;
    border-radius: 10px;
    z-index: 9999;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    cursor: pointer;
    margin-left: 8px;
}

.panel-document-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0;
}

#id_document_wrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 45px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 60px;
}

#id_document_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

#id_document_wrapper li {
    padding: 0 10px;
    margin-bottom: 80px;
}

.panel-document {
    padding-bottom: 30px;
}

/*
.panel-document-title {
    font-family: 'Helvetica Neue', 'Helvetica','Arial', 'sans-serif';
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
    color: #fff;
}*/

.panel-document-title {
    font-family: 'Helvetica Neue', 'Helvetica','Arial', 'sans-serif';
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
    color: #fff;
    width: 100%;
    line-height: 18px;
}

.panel-document-number {
    font-family: 'Helvetica Neue', 'Helvetica','Arial', 'sans-serif';
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
    color: #fff;
}

.fa-square {
    color: #3DAC2A;
}

.pencil-square-style {
    color: #00ff00;
    margin-top: 16px;
    margin-right: 10px;
}

.file-pdf-style {
    color: #fff;
    margin-top: 0px;
}



/***************************************************************************************************************************************************************/

/********************************************************** signing room page doc -img *****************************************************************************************************/
.sign-initial-container {
    display: inline-flex;
}

.document-img-container {
    left: 1%;
    width: 96%;
    position: absolute;
    padding-bottom: 75px;/*Fix for DTCAP-4324*/
}

.document-img {
    position: relative;
    width: 950px;
}

.signer-info {
    margin-top: 100px;
}

.signer-info h5, .signer-info li {
    color: #979797;
    font-family: 'Helvetica Neue', 'Helvetica','Arial', 'sans-serif';
}

.signer-info li {
    font-size: 12px;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc;
    -moz-use-text-color: rgba(0,0,0,0);
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: 20px 0;
}

/*.sign-holder-text {
    font-family: 'Helvetica Neue', 'Helvetica','Arial', 'sans-serif';
    font-size: 11px;
    font-weight: normal;
    color: #b90101;
}*/
.sign-holder-text{
    font-family:'Helvetica Neue', 'Helvetica','Arial', 'sans-serif';
    font-size:11px;
    font-weight:normal;
    color: #b90101;
    /*padding: 5px 30% 5px 0px;*/
}



.sign-holder-icon {
    color: #b90101;
    padding: 2px 2px 0px 0px;
    margin-top: 2px;
}

.sign-holder-icon-close {
    color: #b90101;
    margin-top: 0px;
}


.sign-holder-icon-initial {
    color: #B90101;
    line-height:0px;
    margin-left:5px;
    margin-top: 5px;
    padding: 2px;
    float: left;
    width: 15%;
}

.sign-holder-text-initial {
            font-family:'Helvetica Neue', 'Helvetica','Arial', 'sans-serif';
            font-size: 11px;
            font-weight:normal;
            color: #b90101;
            padding-left:0px;
            position:absolute;
            margin-top:10px;
            left: 0px;
}


.document-sign-holder {
    position: absolute;
    right: 200px;
    top: 420px;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #b90101;
    background: #ffff7d;
    z-index: 999;
}

.initial_sig_img 
{
    vertical-align:top;
    visibility:hidden;
    float: left;
    width: 75%;
    display: block;
}

.document-sign-holder-initial-div{
height: 27px;
}
/***************************************************************************************************************************************************************/





/* mallikarjun */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .popover.top.signing-room-popover > .arrow {
        left: 20%;
        /* mp */
    }
}
@media only screen and (min-device-width : 1025px) {
    .popover.top.signing-room-popover > .arrow {
        left: 18%;
        /* mp */
    }
}

.edit-icon-wrapper {
    width: 90%;
    text-align: right;
    padding-right: 10px;
    position: absolute;
    z-index: 99999;
}

.signature-modal {
    width: 400px;
}

.signing-room-popover {
    z-index: 9997;
	margin-top: -15px !important;
	left: -5% !important;
	width: 200px;
    position: fixed;
}

.modal-content {
    border-radius: 0px;
}

.inline-error-message {
    margin-left: 35px;
    margin-right: 35px;
    padding: 5px;
}
.signed-color {
    color: green;
}
.not-signed-color {
    color: red;
}
#id_regenSignatureImg {
    opacity: 0.5;
}

.sigPad {
margin: 0;
padding: 0;
 width: 100% !important; 
}

.sigPad1 {
margin: 0;
padding: 0;
 width: 100% !important; 
}

.sig_save_exit {
    color:#b90101;
}


.signIn-modal-content-save-exit {
    width: 240px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
}

.signIn-modal-content-withdraw {
    width: 240px;
    height: 165px;
    margin-left: auto;
    margin-right: auto;
}

#id_saveexit_model {
    top: 30%;
}
#id_saveexit_model_side_panel {
       top: 30%;
}
#id_withdraw_model {
    top: 30%;
}

#id_signIn_modal_panel {
    top: 30%;
}

  
#id_less_sign  {
    top: 30%;
}

.doc-icon-selected {
    border: 1px solid #4CA6F9;
    padding: 5px;
    background: rgba(76,166, 249, 0.3);
    width: 104px;
    height: 134px;
    margin-top: -50px;
    position: relative;
    z-index: 2;
}

.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%
}


.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

#id_terms_and_conditions a:hover, 
#id_terms_and_conditions a:focus {
    text-decoration: none;
}