
.sr-md-toolbar-top {
    background: #f3f6f8;
    color: #202020;
    height: 44px;
    min-height: 44px;
}

.sr-md-toolbar-tools-top {
    background: #f3f6f8;
    color: #202020;
    padding: 0 20px 0 10px;
}

.sr-md-toolbar-tools-top > button.md-button {
    margin-right: 0;
    padding-right: 0;
    width: 27px;
}

.sr-md-toolbar-bottom {
  background: #202020;
  color: #f6f6f6;
  height: 60px;
  min-height: 60px;
}

.sr-md-toolbar-tools-bottom {
    background: #202020;
    color: #f6f6f6;
}

.md-button span {
    color: #c6c6c6;
    -webkit-user-select: none; /* Chrome/Safari */
    -webkit-tap-highlight-color: transparent;
}

.sr-page-container {
    width: 982px;
    margin: 0 60px 60px 60px;
}

md-sidenav > md-content, md-sidenav.md-sidenav-left {
    background-color: #f8f8f8;
}

md-content.md-default-theme, md-content {
    background-color: #e5e8e9;
}

.sr-text-dimmed {
    font-size: 16px;
    color: #a1a1a1;
}

.sr-sidenav-document {
    position: relative;
    background: #fff;
    border: 1px solid #dee6ea;
    border-radius: 3px;
    width: 160px;
    height: 185px;
    margin: 30px;
    overflow: hidden;
}

.status-badge {
    position: absolute;
    display: block;
    width: 120px;
    height: 120px;
    text-align: center;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    left: -95px;
    background:  grey;
}

.sr-not-signed {
   background:  #d3dae0;
}

.sr-signed {
   background:  #2cab56;
}

.sr-in-progress {
   background:  #2e95d2;
}

.status-badge > .sr-sidenav-status {
    position: absolute;
    width: 100%;
    padding: 0 20px 4px;
    font-weight: 500;
    line-height: 13px;
    font-size: 12px;
    bottom: 0;
    color: #fff;
    left: -15px;
}

.sr-sidenav-document-text {
  text-align: center;
  position: relative;
  top: 50%;
  font-size: 13px;
  color: #2e95d2;
  font-family: "Helvetica Neue";
  padding: 0 20px 0 20px;
}

.sr-heading {
    font-family: "Helvetica Neue";
    font-size: 14px;
}

.md-sidenav-left, md-sidenav {
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 220px;
    max-width: 220px !important;
}

.sr-devider {
    margin: 35px 0;
}

.sr-top-text {
    margin-top: 45px;
}

.sr-signed-in {
   font-size: 20px;
}

.sr-top-text > .sr-text-dimmed {
    margin: 20px;
    padding-left: 0;
}

.sr-text-dimmed > li {
    margin-bottom: 10px;
}

.sr-text-dimmed > li > a {
    margin-bottom: 10px;
    color: #2e95d2;
    text-decoration: none;
}

.sr-dt-logo {
    background: url(../images/dt_logo.png);
    width: 34px;
    height: 24px;
    margin-left: 12px;
}

.drawer-button {
    background: url(../images/icn-drawer.png);
    width: 7px;
    height: 18px;
    cursor: pointer;
    margin-left: 0;
    padding-left: 0;
}

.sr-other-documents {
    color: #2e95d2;
    font-size: 14px;
    cursor: pointer;
}

.sr-more-button {
    background: url(../images/btn-more.png);
    width: 24px;
    height: 6px;
}

.sr-document-img {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
}

.sr-documents-container {
    margin-bottom: 20px;
}

.sr-document {
    border: 1px solid #dee6ea;
}
