<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
    <title>Document List - Dealertrack</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
    <link rel="stylesheet" href="/static/assets/libs/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/main.css" />
</head>
<body>
    <div web-view-bridge-debug></div>
    <div id="content" ng-view></div>
    <loading-indicator></loading-indicator>

    <script src="/static/bundle.js"></script>

    <script>
        angular.module('dc.app').run(function($rootScope) {
            $rootScope.dealJacketId = '{{ dealjacket_id }}';
            $rootScope.dealId = '{{ deal_id }}';
        });

        angular.bootstrap(document, ['dc.app']);
    </script>

</body>
</html>
