<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
    <title>Document List - Dealertrack</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
    <link rel="stylesheet" href="{{ uri_root }}static/assets/libs/css/bootstrap.css" />
    <link rel="stylesheet" href="{{ uri_root }}static/common.css" />
</head>
<body>
    <div web-view-bridge-debug></div>
    <div id="content" ng-view></div>
    <loading-indicator></loading-indicator>

    <script src="{{ uri_root }}static/common.js"></script>
    <script src="{{ uri_root }}static/doclist.bundle.js"></script>

    <script>
        angular.module('dc.doclist').config(function($apiProvider, webViewBridgeProvider) {
            $apiProvider.setApiUri('{{ uri_root }}api/');
            webViewBridgeProvider.setUriRoot('{{ uri_root }}');
        }).run(function($rootScope) {
            _.assign($rootScope, {
                dealJacketId: '{{ dealjacket_id }}',
                dealId: '{{ deal_id }}',
                dealerCode: '{{ dealer_code }}',
                userCode: '{{ user_code }}',
                tenantCode: '{{ tenant_code }}',
                fusionProdCode: '{{ fusion_prod_code }}',
            });
        });

        angular.bootstrap(document, ['dc.doclist']);
    </script>

</body>
</html>
