<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
        <title>Document List - Dealertrack</title>
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
        <link rel="stylesheet" href="/static/assets/libs/css/angular-material.css" />
        <link rel="stylesheet" href="/static/css/styles.css" />
    </head>

    <body  layout="row">
        <div web-view-bridge-debug></div>

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" layout-align="center center">

    <md-content flex>
      <signingroom-side-bar docIds="{{ doc_ids}}" masterIndexId="{{ master_index }}"></signingroom-side-bar>
    </md-content>

  </md-sidenav>

  <div layout="column" tabIndex="-1" role="main" flex ng-view>

  </div>
    </body>

    <script src="/static/common.js"></script>
    <script src="/static/signingroom.bundle.js"></script>
    <script>
            angular.module('dc.signingroom').run(function($rootScope, signingService) {

                signingService.init(
                        {
                            "docIds": {{ doc_ids }},
                            "signers": [{% for signer in signers %} '{{ signer }}', {% endfor %}],
                            "masterIndex": {{ master_index }}
                        }
                );

                signingService.start();
            });
           angular.bootstrap(document, ['dc.signingroom']);
    </script>
</html>
