<nav class="navbar navbar-inverse navbar-fixed-bottom navbar-footer-style">
    <div class="footer_link_container">
        <div class="ellipsis-style">Options</div>
        <button class="btn btn-success navbar-right-link pull-right"
                role="button" id="id_start" data-placement="left"
                data-trigger="manual" data-toggle="tooltip"
                data-title="Please review the entire document in order to start signing."
                ng-click="toggle()">Start</button>
    </div>
</nav>
