<md-toolbar class="sr-md-toolbar-top">
  <div class="md-toolbar-tools md-whiteframe-z1 sr-md-toolbar-tools-top">
      <button class="md-button md-icon-button md-ink-ripple" type="button" ng-click="toggleSide()" aria-label="Drawer">
          <div class="drawer-button"></div>
      </button>
      <span class="sr-other-documents" ng-click="toggleSide()">Other Documents</span>

      <div layout="row" flex layout-align="end center">
          <h2 md-toolbar-item>
              <span class="sr-heading">{{ currentDocument.title }}</span>
          </h2>
      </div>

      <div layout="row" flex layout-align="end center">
          <h2 md-toolbar-item>
              <span class="sr-heading">Honda of Manhattan</span>
          </h2>
          <dt-logo></dt-logo>
      </div>
  </div>
</md-toolbar>

<md-content flex>
        <div layout="row" layout-align="center center">
            <div class="sr-page-container" flex="none">
                <div class="sr-top-text">
                    <span class="sr-signed-in">You are signing as Roger Johnson </span>
                    <ul class="sr-text-dimmed">
                        <li>Review the document</li>
                        <li>You need to sign in <a href="#">1 locations</a></li>
                    </ul>
                </div>

                <md-divider class="sr-devider"></md-divider>

                <!-- Signer Info -->
                <div class="sr-documents-container">
                    <div ng-repeat="page in currentDocument.pages" class="sr-document">
                        <img class="sr-document-img" ng-src="/{{ page.Value }}">
                    </div>
                </div>
            </div>
        </div>
</md-content>

  <md-toolbar class="sr-md-toolbar-bottom">
    <div class="md-toolbar-tools md-toolbar-tools-bottom sr-md-toolbar-tools-bottom">
        <div layout="row" flex>
             <md-menu md-offset="-20 -90">
               <md-button class="md-icon-button" ng-click="$mdOpenMenu()">
                  <div md-menu-origin class="sr-more-button"></div>
               </md-button>
               <md-menu-content class="sr-menu-content">
                 <md-menu-item>
                     <a ng-click="signingService.saveAndExit()">Save &amp; Exit</a>
                 </md-menu-item>
                 <md-menu-item>
                     <a ng-click="signingService.withdrawConsent()">Withdraw Consent</a>
                 </md-menu-item>
               </md-menu-content>
             </md-menu>
             <span flex></span> <!-- fill space in the middle -->
             <md-button class="sr-start-button" ng-click="showSignaturePad()">Start</md-button>
        </div>
    </div>
  </md-toolbar>


