<div class="signer-modal-body">
    <ul class="row signers-list" ng-class="'room-for-'+signers.length">
        <li ng-repeat="signerType in ['buyer', 'cobuyer', 'dealer']" class="modal-body-wrapper signers-list-item signer-{{signer.Type.toLowerCase()}}">
            <div class="signer">
                <div class="signer-selected-wrapper" ng-show="docService.isSignerRequiredBySelectedDocs(signerType)" ng-click="onSignerSelected(signerType)">
                    <div class="roundedTwo docSelector">
                        <input type="checkbox" value="None" disabled="disabled" id="signer-{{$index}}-cbx" ng-checked="signerService[signerType].selected">
                        <label for="signer-{{$index}}-cbx"></label>
                    </div>
                </div>
                <div class="signer-caption">
                    <div class="signer-name">{{signerService[signerType].name}}</div>
                    <div class="signer-type">({{signerService[signerType].typeName}})</div>
                </div>
            </div>
        </li>
    </ul>
</div> 
