<div class="modal" data-keyboard="false" data-backdrop="static" id="submit-container" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content submit-modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12 modal-header-wrapper">
            <button class="btn btn-link" ng-click="$hide()">Cancel</button>
            <p class="modal-title modal-text">Submit Documents</p>
          </div>
        </div>
      </div>

      <div class="modal-body submit-modal-body">
        <div class="row">
          <p>The following documents will be submitted to the lender:</p>
          <ul>
            <li ng-repeat="doc in docService.signedDocs">{{doc.title}}</li>
          </ul>
        </div>
        <div class="row text-center">
          <button class="submit-button btn btn-lg btn-primary" ng-click="onContinueSubmit()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

