<div class="add-document-body">

  <button type="button" class="btn btn-default doc-type-selector" bs-select
      ng-model="selectedDocTypeId"
      bs-options="docType.code as docType.name for docType in docTypeService.externalDocTypes"
      data-placeholder="Select Document Type"
      ng-change="onDocTypeSelect(selectedDocTypeId)">
    Action <span class="caret"></span>
  </button>

  <button type="button" class="btn btn-default doc-type-selector" bs-select
      ng-model="selectedApplicantType"
      bs-options="applicant.id as applicant.name for applicant in applicantChoices" 
      data-placeholder="Select Person"
      ng-change="onApplicantTypeSelect(selectedApplicantType)">
    Action <span class="caret"></span>
  </button>

</div>
